<form autocomplete="off">
  <div class="form-group">
    {{#each types}}
    <h2>{{this}}</h2>
    {{/each}}
  </div>
  {{#each data as |tdata id|}}
  {{#if (gt tdata._total 0)}}
  <div class="form-group">
    <h3>{{localize _label}}</h3>
    <p class="notes">{{localize _hint}}</p>
    <div class="form-fields">
      {{#each ../types as |type|}}
      {{#with (lookup tdata type) as |stdata|}}
      <ul>
        {{#each stdata as |template|}}
        <li>{{template}}</li>
        {{/each}}
      </ul>
      {{/with}}
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{/each}}
  <hr>
</form>
